// Color Section
$color-primary: #43425D;
$color-background: #F5F5F5;
$color-activeLink: #F5F5F5;
$color-link: #F5F5F5;
$color-green: #00BF6f;


$color-greenActive: #4AD991;
$color-blueActive: #1489DE;
$color-redActive: #D15A6C;
$color-purpleHighlight: #2F2E50;



//Font Selection
$default-font: "Source Sans Pro";