


{#Nav 2.0#}
<div class="custom-nav">

    <!--   LOGO   -->
    <div class="logo">VMC-TAP</div>

    <!--   NAV LIST   -->

        <a href="/">
            <i class="fas fa-home"></i>
            <linktext>Home</linktext>
        </a>

        <a href="/students">
            <i class="fas fa-users"></i>
            <linktext>Students</linktext>
        </a>

        <a href="/reports">
            <i class="fas fa-file-contract"></i>
            <linktext>Reports</linktext>
        </a>

         <a href="/import">
             <i class="fas fa-file-import"></i>
             <linktext>Import</linktext>
         </a>
</div>